<div class="container vw-100 d-flex flex-wrap justify-content-around">

 <p><%= link_to "+add a Cocktail",new_cocktail_path  %></p> <br>

<% @cocktails.each do |cocktail| %>
<div class="card m-2 d-flex flex-wrap justify-content-center" style="background-image: url('https://source.unsplash.com/300x300/?<%=cocktail.name%>'); height: 250px; width: 30%">
    <h2 class="p-2" style="background-color: rgba(210, 210, 210, 0.4); width: 100%; text-align: center"> <%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
</div>

<% end %>

</div>
